<div class="col-lg-12 login_main_container d-flex justify-content-center mx-auto">
    <form 
        class=""
        style='padding:10px' 
        fxLayout='column' 
        fxLayoutAlign='center' 
        name="form" 
        (ngSubmit)="f.form.valid && login()" 
        #f="ngForm" novalidate>
      <div class="form-group">
        <mat-form-field> 
          <input type='text' matInput placeholder="Email" name='EMAIL' [(ngModel)]="model.EMAIL" #EMAIL="ngModel" required>
        </mat-form-field>
        <mat-error *ngIf="f.submitted && !EMAIL.valid">User name is required</mat-error>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input type='password' matInput placeholder="Password" name="PASSWORD" [(ngModel)]="model.PASSWORD" #PASSWORD="ngModel" required>
        </mat-form-field>
      </div>
      <mat-error *ngIf="f.submitted && !PASSWORD.valid">Pasword is required</mat-error>
      <button 
            [disabled]="loading || !f.form.valid" 
            mat-raised-button color='primary' 
            style="width: 100%;"
            (click)="login()"
            >Login</button>
    </form>
  </div>
  