<div class="container-fluid">
    <div class="text-end mb-4">
        <button class="btn btn-primary" (click)="openModal(popup, null)">add</button>
    </div>
    <h3 class="text-center text-white" *ngIf="!users.length">Fetching Data...</h3>
    <div class="row" *ngIf="users.length">
        <div class="col-md-3 mt-3" *ngFor="let user of users">
            <div class="card">
                <div class="card-header">
                    User Details
                </div>
               <div class="card-body">
                    <div class="card-text">
                        <span class="fw-bold">Name: </span>
                        <span class="ps-2">{{ user.FIRST_NAME }} {{ user.LAST_NAME }}</span>
                    </div>
                    <hr>
                    <div class="card-text">
                        <span class="fw-bold">Email: </span>
                        <span class="ps-2">{{ user.EMAIL }}</span>
                    </div>
                    <hr>
                    <div class="card-text">
                        <span class="fw-bold">Entry Date: </span>
                        <span class="ps-2">{{ user.ENTRY_DATE | date }}</span>
                    </div>
                    <hr>
                    <div class="card-text">
                        <span class="fw-bold">Active: </span>
                        <span class="ps-2">{{ user.IS_ACTIVE ? 'YES' : 'NO' }}</span>
                    </div>
               </div>
               <div class="card-footer text-center">
                <button class="btn btn-info btn-sm text-white" (click)="openModal(popup, user)">edit</button>
                <button class="btn btn-danger btn-sm ms-2 mt-lg-0 mt-md-2" (click)="delete(user.USER_ID)">delete</button>
            </div>
            </div>
            
        </div>
    </div>
</div>

<ng-template #popup let-d="dismiss">
    <div class="modal-header text-primary">
        {{user ? 'update' : 'add'}} employee
    </div>

    <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <input type="text" class="form-control" formControlName="FIRST_NAME">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Last Name</label>
                <input type="text" class="form-control" formControlName="LAST_NAME">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="text" class="form-control" formControlName="EMAIL">
              </div>
              <div class="text-center p-3">
                <button type="submit" class="btn btn-primary btn-sm p-2 ms-2"
                    [disabled]="!form.valid"
                    (click)="user ? update(user.USER_ID) : add(); d()">Save</button>
                <button type="submit" class="btn btn-secondary  btn-sm p-2 ms-2" (click)="d()">Cancel</button>
              </div>
              
        </form>
    </div>
</ng-template>