<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <div class=" mb-4">
            <button class="btn btn-primary" (click)="goBack()">
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
        <div class=" mb-4">
            <button class="btn btn-primary" (click)="openModal(popup, null)">
                <i class='fa fa-plus'></i>
            </button>
        </div>
    </div>
    <h3 class="text-center text-white" *ngIf="!users.length">Fetching Data...</h3>
    <div class="row" *ngIf="users.length">
        <div class="col-md-3 mt-3" *ngFor="let user of users">
            <div class="card">
                <div class="card-header justify-content-between d-flex align-items-center">
                    <span>User Details</span>

                    <button type="button" class="btn btn-sm ms-2 " [ngStyle]="{ 'background-color': user.IS_ACTIVE ? 'blue' : 'red'  , 'color':'white' }" (click)="activateUser(user.USER_ID,!user.IS_ACTIVE)">
                        {{ user.IS_ACTIVE ? 'Active' : 'DisActive' }}
                    </button>

                </div>
               <div class="card-body">
                    <div class="card-text">
                        <span class="fw-bold">Name: </span>
                        <span class="ps-2">{{ user.FIRST_NAME }} {{ user.LAST_NAME }}</span>
                    </div>
                    <hr>
                    <div class="card-text">
                        <span class="fw-bold">Email: </span>
                        <span class="ps-2">{{ user.EMAIL }}</span>
                    </div>
                    <hr>
                    <div class="card-text">
                        <span class="fw-bold">Entry Date: </span>
                        <span class="ps-2">{{ user.ENTRY_DATE | date }}</span>
                    </div>
                    <hr>
                    <div class="card-text">
                        <span class="fw-bold">Phone: </span>
                        <span class="ps-2">{{ user.PHONE }}</span>
                    </div>
                    <hr>
                    <div class="card-text">
                        <span class="fw-bold">User Type: </span>
                        <span class="ps-2">{{ user.USER_TYPE_CODE }}</span>
                    </div>
               </div>
               <div class="card-footer text-center">
                <button class="btn btn-info btn-sm text-white" (click)="openModal(popup, user)">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger btn-sm ms-2 mt-lg-0 mt-md-2" (click)="delete(user.USER_ID)">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button class="btn btn-success btn-sm ms-2 mt-lg-0 mt-md-2" (click)="openMapModal(mapModal, user.USER_ID)">
                    <i class="fas fa-location"></i>
                </button>
            </div>
            </div>
            
        </div>
    </div>
</div>

<ng-template #popup let-d="dismiss">
    <div class="modal-header text-primary">
        {{user ? 'update' : 'add'}} user
    </div>

    <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <input type="text" class="form-control" formControlName="FIRST_NAME">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Last Name</label>
                <input type="text" class="form-control" formControlName="LAST_NAME">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="text" class="form-control" formControlName="EMAIL">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Phone</label>
                <input type="number" class="form-control" formControlName="PHONE">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Type</label>
                <select class="form-select" aria-label="Default select example" formControlName="USER_TYPE_CODE">
                    <option selected>Select User Type</option>
                    <option value="001">User</option>
                    <option value="002">Instructor</option>
                    <option value="003">Admin</option>
                  </select>
              </div>
              <div class="text-center p-3">
                <button type="submit" class="btn btn-primary btn-sm p-2 ms-2"
                    [disabled]="!form.valid"
                    (click)="Edit(); d();">Save</button>
                <button type="submit" class="btn btn-secondary  btn-sm p-2 ms-2" (click)="d()">Cancel</button>
              </div>
              
        </form>
    </div>
</ng-template>

<ng-template #mapModal let-d="dismiss">
    <div class="modal-header text-primary">
        Donation's Location
    </div>

    <app-maps [locationList]="locationListToBePassed" *ngIf="!loadingMap"></app-maps>
    <mat-spinner *ngIf="loadingMap" class="align-self-center"></mat-spinner>

    <div class="modal-footer">
        <div class="d-grid gap-2 pt-1" style="width: 100%;">
            <button type="submit" class="btn btn-secondary  btn-sm p-2" (click)="d()">Cancel</button>
        </div>
    </div>
</ng-template>